In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load in data
tbl = pd.read_csv('FSRED Mags - Final_python.csv')
# group = tbl.groupby(['Source', 'Date obs', 'Filter'])[''.mean()
# print(len(group))
# print(len(tbl))
display(tbl.head())

,Source,Filter,Obs_number,Detected Name,Date obs,RA,DEC,Error_circle (arcsec),Position_source,nH,...,Xray_Flux (erg/s/cm2),Xray_errup,Xray_errlow,Xray_upplim,Xray_Flux_source,L_X,L_X_errup,L_X_errlow,L_X_upplim,Comments
0,RX_J1735.3-3540,J,3081,S,2014-05-07,17 35 23.75,-35 40 16.1,0.56,"Israel+2008, UVOT",5.760000e+21,...,2.000000e-11,5.000000e-12,5.000000e-12,NaN,Thesis Bilal 2018,NaN,NaN,NaN,NaN,NaN
1,RX_J1735.3-3540,J,3090,S,2014-05-07,17 35 23.75,-35 40 16.1,0.56,"Israel+2008, UVOT",5.760000e+21,...,2.000000e-11,5.000000e-12,5.000000e-12,NaN,Thesis Bilal 2018,NaN,NaN,NaN,NaN,NaN
2,RX_J1735.3-3540,H,3063,S,2014-05-07,17 35 23.75,-35 40 16.1,0.56,"Israel+2008, UVOT",5.760000e+21,...,2.000000e-11,5.000000e-12,5.000000e-12,NaN,Thesis Bilal 2018,NaN,NaN,NaN,NaN,Initially very large magnitude offset but seem...
3,RX_J1735.3-3540,H,3072,S,2014-05-07,17 35 23.75,-35 40 16.1,0.56,"Israel+2008, UVOT",5.760000e+21,...,2.000000e-11,5.000000e-12,5.000000e-12,NaN,Thesis Bilal 2018,NaN,NaN,NaN,NaN,Initially large magnitude offset but seems oka...
4,RX_J1735.3-3540,Ks,3045,S,2014-05-07,17 35 23.75,-35 40 16.1,0.56,"Israel+2008, UVOT",5.760000e+21,...,2.000000e-11,5.000000e-12,5.000000e-12,NaN,Thesis Bilal 2018,NaN,NaN,NaN,NaN,Initially large magnitude offset but seems oka...

In [3]:
# TODO determine luminosities based on flux and distance
def luminosity(flux, d):
    d_cm = 3.08567758128e21 * float(d) 
    L = 4 * np.pi * d_cm**2 * flux
    
    return L

def luminosity_error(flux, flux_error, d, d_error, L):
    L_err = np.sqrt((flux_error/flux)**2 + 2*(d_error/float(d))**2) * L

    return L_err

# Determine NIR luminosity
tbl['L_NIR'] = tbl.apply(lambda x: luminosity(x['Flux (erg/s/cm2)'], x['Distance (kpc)']), axis=1)
tbl['L_NIR_errup'] = tbl.apply(lambda x: luminosity_error(x['Flux (erg/s/cm2)'], x['Flux_err'], x['Distance (kpc)'], x['D_errup'], x['L_NIR']), axis=1)
tbl['L_NIR_errlow'] = tbl.apply(lambda x: luminosity_error(x['Flux (erg/s/cm2)'], x['Flux_err'], x['Distance (kpc)'], x['D_errlow'], x['L_NIR']), axis=1)

# Determine X-ray luminosity
tbl['L_X'] = tbl.apply(lambda x: luminosity(x['Xray_Flux (erg/s/cm2)'], x['Distance (kpc)']), axis=1)
tbl['L_X_errup'] = tbl.apply(lambda x: luminosity_error(x['Xray_Flux (erg/s/cm2)'], x['Xray_errup'], x['Distance (kpc)'], x['D_errup'], x['L_X']), axis=1)
tbl['L_X_errlow'] = tbl.apply(lambda x: luminosity_error(x['Xray_Flux (erg/s/cm2)'], x['Xray_errlow'], x['Distance (kpc)'], x['D_errlow'], x['L_X']), axis=1)



display(tbl.head())
# TODO how to handle upper limits in magnitude, distance and a combination of these? 
# TODO determine luminosity errors based on flux and distance errors
# TODO add luminosity + errors to paper tabel
# TODO uitzonderingen toevoegen

,Source,Filter,Obs_number,Detected Name,Date obs,RA,DEC,Error_circle (arcsec),Position_source,nH,...,Xray_Flux (erg/s/cm2),Xray_errup,Xray_errlow,Xray_upplim,Xray_Flux_source,L_X,L_X_errup,L_X_errlow,L_X_upplim,Comments
0,RX_J1735.3-3540,J,3081,S,2014-05-07,17 35 23.75,-35 40 16.1,0.56,"Israel+2008, UVOT",5.760000e+21,...,2.000000e-11,5.000000e-12,5.000000e-12,NaN,Thesis Bilal 2018,2.159674e+35,NaN,NaN,NaN,NaN
1,RX_J1735.3-3540,J,3090,S,2014-05-07,17 35 23.75,-35 40 16.1,0.56,"Israel+2008, UVOT",5.760000e+21,...,2.000000e-11,5.000000e-12,5.000000e-12,NaN,Thesis Bilal 2018,2.159674e+35,NaN,NaN,NaN,NaN
2,RX_J1735.3-3540,H,3063,S,2014-05-07,17 35 23.75,-35 40 16.1,0.56,"Israel+2008, UVOT",5.760000e+21,...,2.000000e-11,5.000000e-12,5.000000e-12,NaN,Thesis Bilal 2018,2.159674e+35,NaN,NaN,NaN,Initially very large magnitude offset but seem...
3,RX_J1735.3-3540,H,3072,S,2014-05-07,17 35 23.75,-35 40 16.1,0.56,"Israel+2008, UVOT",5.760000e+21,...,2.000000e-11,5.000000e-12,5.000000e-12,NaN,Thesis Bilal 2018,2.159674e+35,NaN,NaN,NaN,Initially large magnitude offset but seems oka...
4,RX_J1735.3-3540,Ks,3045,S,2014-05-07,17 35 23.75,-35 40 16.1,0.56,"Israel+2008, UVOT",5.760000e+21,...,2.000000e-11,5.000000e-12,5.000000e-12,NaN,Thesis Bilal 2018,2.159674e+35,NaN,NaN,NaN,Initially large magnitude offset but seems oka...

In [4]:
def calc_flux(upplim, band):
    """ 
    Calculate flux density based on AB magnitude system
    using     m_AB = -2.5 log10(F_nu) - 48.60 
    and       F_lamb = F_nu * c / lamb_eff
    and convert this flux density to flux. 
    """ 
    
    band = band.strip() # remove accidental whitespace     
    
    # Calculate flux density 
    if band == 'J':
        W_eff = 2214.62 # A
        l_eff = 12287.26 # A
    elif band == 'H':
        W_eff = 2769.45 # A 
        l_eff = 16039.55 # A
    elif band == 'Ks':
        W_eff = 3163.40 # A
        l_eff = 21315.89 # A

    c = 2.9979e18 # A/s

    F_nu = 10**(-(upplim+48.60)/2.5) # erg/s/cm2/Hz   
    F_lamb = F_nu * c / l_eff**2 # erg/s/cm2/A
    Flux = W_eff * F_lamb 

    return Flux

# Determine upper limits on luminosities where needed
tbl['F_NIR_upplim'] = tbl.apply(lambda x: calc_flux(x['Upper_limit'], x['Filter']), axis=1)
tbl['L_NIR_upplim'] = tbl.apply(lambda x: luminosity(x['F_NIR_upplim'], x['Distance (kpc)']), axis=1)
tbl['L_X_upplim'] = tbl.apply(lambda x: luminosity(x['Xray_upplim'], x['Distance (kpc)']), axis=1)

In [5]:
tbl.to_csv('preprocessed_data.csv')